<!DOCTYPE html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="/css/mod.water.css">
    <link rel="stylesheet" href="/css/extra.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/navbar.js"></script>
    <script data-ad-client="ca-pub-3206752623625887" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="main pre center">
        <h1>Welcome to LovesVPS</h1>
        we offer good vps deals!!
        even free!
        very good deal yes???


        <a href="/info"><button>Pricing</button></a>
    </div>
</body>
