<!DOCTYPE html>
<head>
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/mod.water.css">
    <link rel="stylesheet" href="/css/extra.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/navbar.js"></script>
    <script data-ad-client="ca-pub-3206752623625887" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="main pre center">
        here is useful information

        <table>
            <tr>
                <th>Free*</th>
                <th>$3</th>
                <th>$10</th>
                <th>Custom**</th>
            </tr>
            <tr>
                <td>8GB Storage</td>
                <td>35GB Storage</td>
                <td>100GB Storage</td>
                <td>Max 200GB Storage
                    $0.10/GB
                </td>
            </tr>
            <tr>
                <td>256MB RAM</td>
                <td>1GB RAM</td>
                <td>2GB RAM</td>
                <td>Max 3GB RAM
                    $0.15/100MB
                </td>
            </tr>
            <tr>
                <td>1MBps Bandwidth</td>
                <td>4MBps Bandwidth</td>
                <td>10MBps Bandwidth</td>
                <td>Max 25MBps Bandwidth
                    $0.50/1MB
                </td>
            </tr>
            <tr>
                <td>1 Core</td>
                <td>1 Core</td>
                <td>2 Cores</td>
                <td>Max 3 cores
                    $2/Core
                </td>
            </tr>
            <tr>
                <td>Tiny Core</td>
                <td>Arch, Debian</td>
                <td>Arch, Debian, Fedora</td>
                <td>Anything.
                    even windows if you
                    like being disgusting
                </td>
            </tr>
        </table><small>*the VPS can be taken down at any time without notice if required.</small>
        <small>**for custom plans email us at <a href="mailto:lovescock@cock.email">lovescock@cock.email</a></small>



        coming soon...
    </div>
</body>
