<!DOCTYPE html>
<head>
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/mod.water.css">
    <link rel="stylesheet" href="/css/extra.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/navbar.js"></script>
    <script data-ad-client="ca-pub-3206752623625887" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="main pre center">
        here is useful information
        
        <table>
            <tr>
                <th></th>
                <th>Free*</th>
                <th>$3</th>
                <th>$10</th>
                <th><a href="/custom">Custom**</a></th>
            </tr>
            <tr>
                <td>Storage</td>
                <td>8GB</td>
                <td>35GB</td>
                <td>100GB</td>
                <td>Max 200GB
                    $0.10/GB
                </td>
            </tr>
            <tr>
                <td>Memory</td>
                <td>256MB</td>
                <td>1GB</td>
                <td>2GB</td>
                <td>Max 3GB
                    $0.15/100MB
                </td>
            </tr>
            <tr>
                <td>Bandwidth</td>
                <td>1MBps</td>
                <td>4MBps</td>
                <td>10MBps</td>
                <td>Max 25MBps
                    $0.50/1MB
                </td>
            </tr>
            <tr>
                <td>CPU Cores</td>
                <td>1</td>
                <td>1</td>
                <td>2</td>
                <td>Max 3
                    $2/Core
                </td>
            </tr>
            <tr>
                <td>OS</td>
                <td>Tiny Core</td>
                <td>Arch, Debian</td>
                <td>Arch, Debian, Fedora</td>
                <td>Anything.
                </td>
            </tr>
        </table><small>*the VPS can be taken down at any time without notice if required.</small>
    </div>
</body>
