<!DOCTYPE html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="/css/mod.water.css">
    <link rel="stylesheet" href="/css/extra.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/navbar.js"></script>
</head>
<body>
    <div class="main pre center">
        here is useful information

        <table>
            <tr>
                <th>Free</th>
                <th>$3</th>
                <th>$10</th>
                <th>Custom*</th>
            </tr>
            <tr>
                <td>8GB Storage</td>
                <td>35GB Storage</td>
                <td>100GB Storage</td>
                <td>Max 200GB Storage
                    $0.15/GB
                </td>
            </tr>
            <tr>
                <td>256MB RAM</td>
                <td>1GB RAM</td>
                <td>2GB RAM</td>
                <td>Max 3GB RAM
                    $0.10/100MB
                </td>
            </tr>
            <tr>
                <td>1MBps Bandwidth</td>
                <td>4MBps Bandwidth</td>
                <td>10MBps Bandwidth</td>
                <td>Max 25MBps Bandwidth
                    $0.50/1MB
                </td>
            </tr>
            <tr>
                <td>Arch</td>
                <td>Arch, Debian</td>
                <td>Arch, Debian, Fedora</td>
                <td>Anything.
                    Some distributions may
                    include extra costs
                </td>
            </tr>
        </table><small style="text-align: left;">*for custom plans email us at <a href="mailto:lovescock@cock.email">lovescock@cock.email</a></small>



        coming soon...
    </div>
</body>